* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1565c0;
}

body {
    height: 100vh;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    background: white;
    width: 95%;
    height: 90%;
    border-radius: 20px;
}

.left-card {
    background: linear-gradient(180deg,#1565c0,#0d3f7a);
    border-radius: 20px 0 0 20px;
    width: 35%;
}

.top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.avatar {
    background-color: white;
    border-radius: 50%;
    width: 250px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: #1565c0;
}

.profile-title {
    text-align: center;
    color: white ;
    padding-top: 30px;
}

/* Tên */
.profile-title h3 {
    font-size: 3rem
}

/* Ngành, lớp */
.profile-title p {
    font-size: 1.8rem;
    padding-top: 5px;
}

.bottom-left {
    padding: 20px 0 0 40px;
    height: 50%;
}

/* thông tin cá nhân */
.info li {
    color: white;
    list-style: none;
    line-height: 1.5;
    font-size: 2rem;
}

.right-card {
    padding: 40px;
    width: 65%;
}

/* đầu đề */
.box h3 {
    color: var(--primary-color);
    font-size: 3rem;
    border-bottom: 3px solid #ccc ;
    padding-bottom: 10px;
    margin-top: 20px;
}


.box span,
.box a {
    display: inline-block;
    color: var(--primary-color);
}

.box p,
.box span,
.box a {
    margin-top: 20px;
    font-size: 2rem;
    line-height: 1.5;
}

.box span {
    background-color: #e3f0ff; 
    border-radius: 30px;
    padding: 5px 20px;
    margin-left: 10px;
}

.link a:not(:last-child)::after {
    content: " • ";
    color: #1565c0;
    display: inline-block;
    margin: 0 9px 0 12px;
}













